<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joblist</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="assets/css/main.css">
    <script src = "assets/js/script.js"></script>
    <link rel="icon" type="image/x-icon" href="assets/images/lg.jpg"> 
    <style>
      table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}

tr:hover {background-color: #D6EEEE;}
    </style>
</head>
<body>

  <nav class = "navbar bg-white">
    <div class="container">
        <div class = "navbar-content">
            <div class = "brand-and-toggler">
                <a href = "index.html" class = "navbar-brand">
                  <img src = "assets/images/lg.jpg" alt = "" class = "navbar-brand-icon h-10 w-14" >
                  <span class = "navbar-brand-text">OffCampus<span>.com</span>
                </a>
                <button type = "button" onclick="navMenu()" class = "">
                   <a href="allaccess.html" class="button">Go Back</a>
                </button>
        
            </div>
        </div>
    </div>
</nav>

<!-- jobsearch-section -->
<br>
   <center> <h1 class="mt-5 text-blue-500 text-3xl font-bold ">All Available Jobs for freshers/experience</h1></center><br><br>
  <table class="table table-striped mt-5 ml-4" style="">
    <thead>
      <tr>
        <th>S_no.</th>
        <th>Company_name</th>
        <th>Profile</th>
        <th>YearOfExp.</th>
        <th>YearOfPassing</th>
        <th>Job Description</th>
        <th>CTC</th>
        <th>Remove</th>

        <!-- Add more columns as necessary -->
      </tr>
    </thead>
    <tbody>
      <% jblist.forEach((company,index) => { %>
        <tr>
          <td><%= ++index %></td>
          <td><%= company.company_name %></td>
          <td><%= company.jobprofile %></td>
          <td><%= company.yoe %></td>
          <td><%= company.yop %></td>
          <td><%= company.jd %></td>
          <td><%= company.ctc %></td>
          <td><button type="button" onclick="" class="btn btn-primary"><a href="">Remove</a></button>
          </td>

          <!-- Add more columns as necessary -->
        </tr>
      <% }) %>
    </tbody>
  </table>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>